.App {
  text-align: center;
}

.App-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.login {
  min-height: 40vh;
  width: 30%;
  display: grid;
  margin: 20% 35%;
  margin-top: 3%;
}

.product-container {
  width: 400px;
  margin: 24px;
}

.product-poster {
  width: 400px;
  height: 600px;
  object-fit: cover;
}

.product-summary {
  margin-top: 0px;
}

.product-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-N-btn {
  display: flex;
  align-items: center;
  gap: 0px;
}

.product-rating {
  margin-top: 1px;
  font-size: 18px;
}

.product-name {
  margin-top: 1px;
  font-size: 23px;
}

.product-toggle {
  margin-top: -20px;
}

.product-info {
  margin-top: -20px;
}

.add-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 50px;
}